body{
    font-family: "Ubuntu Mono", serif;
    font-size: 15px;
    background-color: cornflowerblue;
    margin: 0;
    padding: 20px;
}
div.buttons-bar{
    width: 900px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
table.profile-data{
    background-color: yellow;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    width: 99%;
    height: 800px;
    padding: 20px;
 }
div.buttons-bar input[type="button"]{
    padding: 12px 20px;
    border:2px solid orangered;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    background-color: yellow;
    transition: all 0.3s ease;
}
div.buttons-bar input[type="button"]:hover {
    background-color: #ddd;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
#table-profile-page{
    background-color: yellowgreen;
    width: 300px;
    height: 300px;
    column-gap: 40px;
    row-gap: 40px;
    max-lines: 1500;
    cursor: pointer;
    z-index: 0;
}