body{
    font-family: "Ubuntu Mono", monospace;
    font-size: 15px;
    background: linear-gradient(135deg, cornflowerblue, skyblue);
    margin: 0;
    padding: 20px;
}
.header-bar{
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    width: 70%;
}
.search-bar{
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    max-width: 1000px;
    width: 80%;
    height: 50px;
}
.search-button{
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    max-width: 100px;
    width: 80%;
    height: 50px;
}
.content {
    display: flex;
    gap: 20px;
    padding: 30px;

    min-height: 600px;
    border-radius: 20px;
}

.suggested-friends,
.feed,
.suggested-projects {
    flex: 1;
    padding: 25px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);  /* Umbră puternică */
    border: 2px solid #e0e0e0;
    max-height: 80vh;
    overflow-y: auto;
}
.suggested-friends{
    max-width: 200px;
    width: 55%;
}
.feed{
    max-width: 1300px;
    width: 99%;
}
.suggested-projects{
    max-width: 200px;
    width: 55%;
}

